.container {
  width: 150px;
  height: 40px;
  display: flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  justify-content: center;
  transition: background-color 0.3s ease-in;
}
.container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.text {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
